<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="steve.injoy.cn.lib_http">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            >

    </application>

</manifest>
